code_lib_nsx/GPS_SIM/gps+sim/server-node-red/New Text Document.txt
[{"id":"cb718e27.d2182","type":"mqtt in","z":"f3ca0202.fd1af","name":"","topic":"GPS","qos":"2","broker":"ced4f10c.63353","x":350,"y":180,"wires":[[]]},{"id":"f00b4576.c155a8","type":"function","z":"f3ca0202.fd1af","name":"","func":"msg.packet = msg.payload\n\n//msg.payload.s = Math.random().toString(36).substring(2, 7)\nmsg.payload = msg.payload.d + \"|\" + msg.payload.s + \"|\"+ msg.payload.x + \"|\" + msg.payload.y + \"|\" + msg.payload.v + \"|\" + msg.payload.pass\n//payload = \"B4:E6:2D:B8:5C:B9|hdabs|10.7981348|106.6687164|b^sM@p(k3y)20xX\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["2495e19e.7455be","6fa933ea.540c1c"]]},{"id":"806d50cc.701e3","type":"json","z":"f3ca0202.fd1af","name":"","property":"payload","action":"","pretty":false,"x":350,"y":220,"wires":[["f00b4576.c155a8","fbefde7.c0f442"]]},{"id":"3594a026.9378d","type":"function","z":"f3ca0202.fd1af","name":"","func":"var hash = msg.payload\nmsg.payload = msg.packet\nmsg.payload.h = hash\nmsg.payload.x = parseFloat(msg.payload.x)\nmsg.payload.y = parseFloat(msg.payload.y)\ndelete msg.payload.pass\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":240,"wires":[["bac44fbb.5681e","8c651b7c.4c01e8","44a0d699.dd4768"]]},{"id":"b588cc3e.ed68a","type":"http in","z":"f3ca0202.fd1af","name":"","url":"/gps/update","method":"post","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["e69e7e30.44a0a","7c66a2a1.5306ec","d18aab7.b9f7958"]]},{"id":"a45d5684.938558","type":"http request","z":"f3ca0202.fd1af","name":"","method":"POST","ret":"txt","url":"http://api-iot.busmap.vn/location/send","tls":"","x":1210,"y":240,"wires":[["974c5a95.f35f98"]]},{"id":"f4d349d4.1e6e28","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":40,"wires":[]},{"id":"ae6a973a.6d8048","type":"http response","z":"f3ca0202.fd1af","name":"","statusCode":"","headers":{},"x":990,"y":100,"wires":[]},{"id":"e69e7e30.44a0a","type":"function","z":"f3ca0202.fd1af","name":"","func":"msg.payload = \"updated device \" + msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":80,"wires":[["ae6a973a.6d8048"]]},{"id":"461d5148.f207b","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":340,"wires":[]},{"id":"2495e19e.7455be","type":"digest","z":"f3ca0202.fd1af","name":"","algorithm":"SHA256","x":730,"y":240,"wires":[["461d5148.f207b","3594a026.9378d"]]},{"id":"974c5a95.f35f98","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":240,"wires":[]},{"id":"a2282e09.277fa","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":300,"wires":[]},{"id":"bac44fbb.5681e","type":"json","z":"f3ca0202.fd1af","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":300,"wires":[["a2282e09.277fa"]]},{"id":"6fa933ea.540c1c","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":200,"wires":[]},{"id":"fbefde7.c0f442","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":140,"wires":[]},{"id":"46c3bf80.bc7c","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":180,"wires":[]},{"id":"4fd6aac2.125444","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":380,"wires":[]},{"id":"8c651b7c.4c01e8","type":"json","z":"f3ca0202.fd1af","name":"","property":"payload","action":"","pretty":false,"x":1090,"y":180,"wires":[["46c3bf80.bc7c"]]},{"id":"44a0d699.dd4768","type":"switch","z":"f3ca0202.fd1af","name":"","property":"payload.x","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1050,"y":240,"wires":[["a45d5684.938558"],["4fd6aac2.125444"]]},{"id":"196e1916.9a97a7","type":"mqtt in","z":"f3ca0202.fd1af","name":"","topic":"GPS","qos":"2","broker":"ced4f10c.63353","x":150,"y":480,"wires":[["41bfd1ab.1839"]]},{"id":"41bfd1ab.1839","type":"json","z":"f3ca0202.fd1af","name":"","property":"payload","action":"","pretty":false,"x":310,"y":480,"wires":[["8a83d1a5.19e6f","c22a3a12.6a9508"]]},{"id":"8a83d1a5.19e6f","type":"function","z":"f3ca0202.fd1af","name":"","func":"msg.payload.v = parseInt(msg.payload.v)\nmsg.payload.t = parseInt(msg.payload.t)\nmsg.packet = msg.payload\n\n//msg.payload.s = Math.random().toString(36).substring(2, 7)\nmsg.payload = msg.payload.d + \"|\" + msg.payload.s + \"|\"+ msg.payload.x + \"|\" + msg.payload.y + \"|\" + msg.payload.v + \"|\" + msg.payload.t + \"|\" + msg.payload.pass\n//payload = \"B4:E6:2D:B8:5C:B9|hdabs|10.7981348|106.6687164|b^sM@p(k3y)20xX\"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["3d8416eb.1e2e5a","4a999f6b.24fef"]]},{"id":"c22a3a12.6a9508","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":400,"wires":[]},{"id":"3d8416eb.1e2e5a","type":"digest","z":"f3ca0202.fd1af","name":"","algorithm":"SHA256","x":690,"y":500,"wires":[["bf819391.78c18","124e7fcf.99c4a"]]},{"id":"4a999f6b.24fef","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":460,"wires":[]},{"id":"bf819391.78c18","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":600,"wires":[]},{"id":"124e7fcf.99c4a","type":"function","z":"f3ca0202.fd1af","name":"","func":"var hash = msg.payload\nmsg.payload = msg.packet\nmsg.payload.h = hash\nmsg.payload.x = parseFloat(msg.payload.x)\nmsg.payload.y = parseFloat(msg.payload.y)\ndelete msg.payload.pass\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":500,"wires":[["99b3f269.5eddb","2741aead.a757a2"]]},{"id":"99b3f269.5eddb","type":"json","z":"f3ca0202.fd1af","name":"","property":"payload","action":"","pretty":false,"x":1030,"y":560,"wires":[["dfe61a20.861138"]]},{"id":"2741aead.a757a2","type":"switch","z":"f3ca0202.fd1af","name":"","property":"payload.x","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":500,"wires":[["cf80ef10.91a41"],["cc6af6e5.c688e8"]]},{"id":"dfe61a20.861138","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":560,"wires":[]},{"id":"7be56c3.8434094","type":"http request","z":"f3ca0202.fd1af","name":"","method":"POST","ret":"txt","url":"http://api-iot.busmap.vn/location/send","tls":"","x":1610,"y":500,"wires":[["f5b2e47c.d69018"]]},{"id":"cc6af6e5.c688e8","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":640,"wires":[]},{"id":"f5b2e47c.d69018","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":500,"wires":[]},{"id":"d675d721.0ccbf8","type":"inject","z":"f3ca0202.fd1af","name":"","topic":"","payload":"{\"id\":\"123\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":700,"wires":[["bba90b0b.0b68a8"]]},{"id":"bba90b0b.0b68a8","type":"http request","z":"f3ca0202.fd1af","name":"","method":"POST","ret":"txt","url":"http://206.189.152.245:1880/gps/update","tls":"","x":490,"y":700,"wires":[["90424dbf.ef9b1"]]},{"id":"90424dbf.ef9b1","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":690,"y":680,"wires":[]},{"id":"5f63c60c.015a98","type":"http in","z":"f3ca0202.fd1af","name":"","url":"/gps/clone","method":"get","upload":false,"swaggerDoc":"","x":510,"y":820,"wires":[["a001629f.b8484"]]},{"id":"b0cef7bb.e42018","type":"http response","z":"f3ca0202.fd1af","name":"","statusCode":"","headers":{},"x":890,"y":820,"wires":[]},{"id":"a001629f.b8484","type":"function","z":"f3ca0202.fd1af","name":"","func":"msg.payload = \"NDT PRO\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":820,"wires":[["b0cef7bb.e42018"]]},{"id":"8b48c13f.8c9d8","type":"inject","z":"f3ca0202.fd1af","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":960,"wires":[["4f6c2f84.baa52"]]},{"id":"4f6c2f84.baa52","type":"http request","z":"f3ca0202.fd1af","name":"","method":"GET","ret":"txt","url":"http://api-iot.busmap.vn/location/get_config","tls":"","x":430,"y":960,"wires":[["b036d9ee.8136f8"]]},{"id":"336df5fe.ae080a","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":960,"wires":[]},{"id":"e46aa4ab.b135f8","type":"mqtt in","z":"f3ca0202.fd1af","name":"","topic":"sim","qos":"2","broker":"ced4f10c.63353","x":170,"y":1080,"wires":[["e14e1210.a241"]]},{"id":"e14e1210.a241","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":1080,"wires":[]},{"id":"d18aab7.b9f7958","type":"function","z":"f3ca0202.fd1af","name":"","func":"msg.payload = msg.payload.params\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["f4d349d4.1e6e28","41bfd1ab.1839"]]},{"id":"7c66a2a1.5306ec","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":60,"wires":[]},{"id":"da1d4d2f.d6c06","type":"http in","z":"f3ca0202.fd1af","name":"","url":"/gps2","method":"post","upload":false,"swaggerDoc":"","x":180,"y":260,"wires":[["6be0e530.9c5a5c"]]},{"id":"6be0e530.9c5a5c","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":300,"wires":[]},{"id":"bf302349.4ff81","type":"function","z":"f3ca0202.fd1af","name":"","func":"var timer = msg.timer - 5000;\nsetTimeout(function(){\n    node.status({fill:\"red\", shape:\"ring\", text:\" \"});\n    //msg['payload'] = 'finished';\n    node.send(msg);\n},  timer);\nnode.status({fill:\"blue\", shape:\"ring\", text:' '});\n","outputs":1,"noerr":0,"x":1410,"y":580,"wires":[["9cbc5571.8454a8","7be56c3.8434094"]]},{"id":"b036d9ee.8136f8","type":"json","z":"f3ca0202.fd1af","name":"","property":"payload","action":"","pretty":false,"x":650,"y":960,"wires":[["ce8d26a9.fb0618"]]},{"id":"ce8d26a9.fb0618","type":"change","z":"f3ca0202.fd1af","name":"","rules":[{"t":"set","p":"timer","pt":"flow","to":"payload.interval","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":960,"wires":[["336df5fe.ae080a"]]},{"id":"cf80ef10.91a41","type":"change","z":"f3ca0202.fd1af","name":"","rules":[{"t":"set","p":"timer","pt":"msg","to":"timer","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":500,"wires":[["bf302349.4ff81"]]},{"id":"b9e425c9.a32f58","type":"inject","z":"f3ca0202.fd1af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1200,"y":1140,"wires":[["43f2df4c.922a8"]]},{"id":"20d23b7.8bda3c4","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1670,"y":1140,"wires":[]},{"id":"9cbc5571.8454a8","type":"debug","z":"f3ca0202.fd1af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1700,"y":680,"wires":[]},{"id":"43f2df4c.922a8","type":"change","z":"f3ca0202.fd1af","name":"","rules":[{"t":"set","p":"timer","pt":"msg","to":"timer","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":1120,"wires":[["20d23b7.8bda3c4"]]},{"id":"ced4f10c.63353","type":"mqtt-broker","z":"","name":"209.97.173.222","broker":"localhost","port":"1883","tls":"10e15631.ce00ea","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"10e15631.ce00ea","type":"tls-config","z":"","name":"209.97.173.222","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"209.97.173.222","verifyservercert":false}]